In [5]:
import pandas as pd
import numpy as np
from IPython.display import display as dp
import warnings
import matplotlib
import matplotlib.pyplot as plt

warnings.filterwarnings('ignore')
plt.rcParams['font.family'] ='Malgun Gothic'
plt.rcParams['axes.unicode_minus'] =False

base_train = pd.read_csv('../data/new_train.csv', index_col=0)
validation =pd.read_csv('../data/new_validation.csv', index_col=0)
test =pd.read_csv('../data/new_test.csv', index_col=0)

IQR_delete = pd.read_csv('../data/IQR_delete.csv', index_col=0)
IQR_weight = pd.read_csv('../data/IQR_weight.csv', index_col=0)
Isolation_Forest_delete = pd.read_csv('../data/Isolation_Forest_delete.csv', index_col=0)
Isolation_Forest_weight = pd.read_csv('../data/Isolation_Forest_weight.csv', index_col=0)

dp(base_train,validation,test)

,월,요일,시간,소관경찰서,소관지역,사건발생거리,강수량(mm),강설량(mm),적설량(cm),풍향,안개,짙은안개,번개,진눈깨비,서리,연기/연무,눈날림,범죄발생지,TARGET
35208,2,월요일,5,2440,39.0,1.967578,35.166667,66.75,361.400000,205.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,주거지,0
36491,11,목요일,2,2449,30.0,2.862873,59.571429,0.00,0.000000,265.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,차도,2
48108,6,월요일,1,1336,5.0,0.437663,338.200000,0.00,0.000000,310.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,편의점,1
35583,11,수요일,11,427,13.0,2.042390,10.857143,0.00,0.000000,290.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,차도,2
65048,8,수요일,12,829,29.0,0.532356,0.000000,0.00,0.000000,90.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,인도,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39711,1,금요일,2,1037,41.0,2.640971,19.750000,8.25,39.666667,45.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,차도,2
27764,1,화요일,4,1947,44.0,1.450236,0.000000,0.00,10.000000,250.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,주거지,1
61034,10,수요일,11,1029,32.0,2.646083,42.500000,0.00,0.000000,170.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,주거지,0
57513,6,수요일,4,1538,49.0,1.195191,1.000000,0.00,0.000000,200.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,차도,2
71061,1,금요일,12,1927,44.0,1.663528,29.000000,0.00,0.000000,185.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,주거지,1

,월,요일,시간,소관경찰서,소관지역,사건발생거리,강수량(mm),강설량(mm),적설량(cm),풍향,안개,짙은안개,번개,진눈깨비,서리,연기/연무,눈날림,범죄발생지,TARGET
73378,3,일요일,10,750,22.0,3.711225,0.000000,0.0,0.0,30.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,차도,2
71524,8,금요일,10,329,12.0,2.734892,0.000000,0.0,0.0,50.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,주거지,1
38781,3,금요일,4,649,10.0,1.294901,0.000000,0.0,0.0,335.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,주거지,0
35212,10,토요일,6,628,20.0,1.337039,0.000000,0.0,0.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,주거지,0
56852,8,수요일,6,1846,36.0,2.158072,415.666667,0.0,0.0,205.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,백화점,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23050,9,화요일,6,2148,38.0,2.184994,3.125000,0.0,0.0,220.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,식당,0
36543,4,화요일,1,1827,51.0,2.204480,0.000000,0.0,0.0,215.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,차도,0
70132,11,일요일,2,1349,36.0,1.873360,1.142857,0.0,0.0,285.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,인도,0
58097,9,금요일,12,329,12.0,3.002181,19.625000,0.0,0.0,165.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,학교,0
10511,10,월요일,1,48,8.0,0.969846,614.875000,0.0,0.0,30.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,차도,2

,월,요일,시간,소관경찰서,소관지역,사건발생거리,강수량(mm),강설량(mm),적설량(cm),풍향,안개,짙은안개,번개,진눈깨비,서리,연기/연무,눈날림,범죄발생지,TARGET
12635,9,월요일,10,1050,32.0,1.254874,0.000000,0.0,0.000000,105.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,차도,1
22195,5,토요일,10,1447,41.0,1.494139,5.142857,0.0,0.000000,220.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,차도,1
42119,11,화요일,4,1348,6.0,2.063934,0.000000,0.0,0.000000,30.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,식당,2
34954,1,수요일,1,746,21.0,1.746713,22.000000,35.0,48.333333,210.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,주거지,0
65122,4,월요일,2,426,13.0,2.079781,0.555556,0.0,0.000000,220.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,주거지,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41734,11,토요일,9,936,28.0,0.650350,0.000000,0.0,0.000000,320.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,차도,1
16135,6,목요일,8,1938,52.0,2.386494,24.250000,0.0,0.000000,200.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,차도,1
65530,1,수요일,9,1148,29.0,0.446058,28.875000,34.0,144.000000,345.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,편의점,1
80594,1,토요일,6,36,46.0,2.517878,23.000000,15.8,22.666667,310.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,인도,0
3430,1,월요일,11,936,28.0,0.315172,5.857143,6.6,19.000000,275.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,주거지,1

In [6]:
base_train.info(), test.info(), validation.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50643 entries, 35208 to 71061
Data columns (total 19 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   월        50643 non-null  int64
 1   요일       50643 non-null  object
 2   시간       50643 non-null  int64
 3   소관경찰서    50643 non-null  int64
 4   소관지역     50643 non-null  float64
 5   사건발생거리   50643 non-null  float64
 6   강수량(mm)  50643 non-null  float64
 7   강설량(mm)  50643 non-null  float64
 8   적설량(cm)  50643 non-null  float64
 9   풍향       50643 non-null  float64
 10  안개       50643 non-null  float64
 11  짙은안개     50643 non-null  float64
 12  번개       50643 non-null  float64
 13  진눈깨비     50643 non-null  float64
 14  서리       50643 non-null  float64
 15  연기/연무    50643 non-null  float64
 16  눈날림      50643 non-null  float64
 17  범죄발생지    50643 non-null  object
 18  TARGET   50643 non-null  int64
dtypes: float64(13), int64(4), object(2)
memory usage: 7.7+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 16882 entries, 12635 to 3430
Data columns (total 19 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   월        16882 non-null  int64
 1   요일       16882 non-null  object
 2   시간       16882 non-null  int64
 3   소관경찰서    16882 non-null  int64
 4   소관지역     16882 non-null  float64
 5   사건발생거리   16882 non-null  float64
 6   강수량(mm)  16882 non-null  float64
 7   강설량(mm)  16882 non-null  float64
 8   적설량(cm)  16882 non-null  float64
 9   풍향       16882 non-null  float64
 10  안개       16882 non-null  float64
 11  짙은안개     16882 non-null  float64
 12  번개       16882 non-null  float64
 13  진눈깨비     16882 non-null  float64
 14  서리       16882 non-null  float64
 15  연기/연무    16882 non-null  float64
 16  눈날림      16882 non-null  float64
 17  범죄발생지    16882 non-null  object
 18  TARGET   16882 non-null  int64
dtypes: float64(13), int64(4), object(2)
memory usage: 2.6+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 16881 entries, 73378 to 10511
Data columns (total 19 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   월        16881 non-null  int64
 1   요일       16881 non-null  object
 2   시간       16881 non-null  int64
 3   소관경찰서    16881 non-null  int64
 4   소관지역     16881 non-null  float64
 5   사건발생거리   16881 non-null  float64
 6   강수량(mm)  16881 non-null  float64
 7   강설량(mm)  16881 non-null  float64
 8   적설량(cm)  16881 non-null  float64
 9   풍향       16881 non-null  float64
 10  안개       16881 non-null  float64
 11  짙은안개     16881 non-null  float64
 12  번개       16881 non-null  float64
 13  진눈깨비     16881 non-null  float64
 14  서리       16881 non-null  float64
 15  연기/연무    16881 non-null  float64
 16  눈날림      16881 non-null  float64
 17  범죄발생지    16881 non-null  object
 18  TARGET   16881 non-null  int64
dtypes: float64(13), int64(4), object(2)
memory usage: 2.6+ MB

(None, None, None)

In [7]:
Isolation_Forest_weight

,월,요일,시간,소관경찰서,소관지역,사건발생거리,강수량(mm),강설량(mm),적설량(cm),풍향,안개,짙은안개,번개,진눈깨비,서리,연기/연무,눈날림,범죄발생지,TARGET
35208,2,월요일,5,2440,39.0,0.574316,10.264787,19.483637,105.488933,59.837386,1.0,0.0,0.0,0.0,0.0,1.0,1.0,주거지,0
36491,11,목요일,2,2449,30.0,2.313558,48.141141,0.000000,0.000000,214.153038,0.0,0.0,0.0,0.0,0.0,0.0,0.0,차도,2
48108,6,월요일,1,1336,5.0,0.166384,128.571452,0.000000,0.000000,117.850828,0.0,0.0,0.0,0.0,0.0,0.0,0.0,편의점,1
35583,11,수요일,11,427,13.0,1.890658,10.050549,0.000000,0.000000,268.455451,1.0,0.0,0.0,0.0,0.0,1.0,0.0,차도,2
65048,8,수요일,12,829,29.0,0.466020,0.000000,0.000000,0.000000,78.785241,0.0,0.0,0.0,0.0,0.0,0.0,0.0,인도,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39711,1,금요일,2,1037,41.0,1.418477,10.607806,4.431109,21.305129,24.169684,1.0,0.0,0.0,1.0,1.0,1.0,0.0,차도,2
27764,1,화요일,4,1947,44.0,1.326059,0.000000,0.000000,9.143750,228.593752,0.0,0.0,0.0,0.0,0.0,0.0,0.0,주거지,1
61034,10,수요일,11,1029,32.0,2.283618,36.678287,0.000000,0.000000,146.713150,1.0,0.0,1.0,0.0,0.0,0.0,0.0,주거지,0
57513,6,수요일,4,1538,49.0,1.163406,0.973406,0.000000,0.000000,194.681131,0.0,0.0,0.0,0.0,0.0,0.0,0.0,차도,2
71061,1,금요일,12,1927,44.0,1.545927,26.949892,0.000000,0.000000,171.921726,1.0,0.0,0.0,0.0,0.0,0.0,0.0,주거지,1

In [8]:
# 사용할 인코더
from sklearn.preprocessing import OrdinalEncoder, OneHotEncoder
from category_encoders import BinaryEncoder

# Ordinal Encoding
**월, 요일, 시간** 컬럼에 적용할 방식이다. 각 클래스가 순서를 가지기 때문에 이를 선택했다.

그런데 월, 시간은 이미 숫자로 입력되어있고 EDA에서 범주형 변수라고 생각했기 때문에 임의로 내가 category 타입으로 변경해두었을 뿐이다.

따라서 **월**과 **시간**은 number로 바꿔주고 요일에 대해서만 인코딩을 진행할 것

In [9]:
# 인코더는 후자의 방식으로 input값을 설정해야함.
base_train['요일'].shape, base_train[['요일']].shape

((50643,), (50643, 1))

In [10]:
ordinal_encoder = OrdinalEncoder()
base_train['요일'] = ordinal_encoder.fit_transform(base_train[['요일']])
validation['요일'] = ordinal_encoder.transform(validation[['요일']]) # val/test는 학습된 인코더로 변환만 
test['요일'] = ordinal_encoder.transform(test[['요일']])

In [11]:
base_train

,월,요일,시간,소관경찰서,소관지역,사건발생거리,강수량(mm),강설량(mm),적설량(cm),풍향,안개,짙은안개,번개,진눈깨비,서리,연기/연무,눈날림,범죄발생지,TARGET
35208,2,3.0,5,2440,39.0,1.967578,35.166667,66.75,361.400000,205.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,주거지,0
36491,11,1.0,2,2449,30.0,2.862873,59.571429,0.00,0.000000,265.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,차도,2
48108,6,3.0,1,1336,5.0,0.437663,338.200000,0.00,0.000000,310.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,편의점,1
35583,11,2.0,11,427,13.0,2.042390,10.857143,0.00,0.000000,290.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,차도,2
65048,8,2.0,12,829,29.0,0.532356,0.000000,0.00,0.000000,90.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,인도,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39711,1,0.0,2,1037,41.0,2.640971,19.750000,8.25,39.666667,45.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,차도,2
27764,1,6.0,4,1947,44.0,1.450236,0.000000,0.00,10.000000,250.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,주거지,1
61034,10,2.0,11,1029,32.0,2.646083,42.500000,0.00,0.000000,170.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,주거지,0
57513,6,2.0,4,1538,49.0,1.195191,1.000000,0.00,0.000000,200.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,차도,2
71061,1,0.0,12,1927,44.0,1.663528,29.000000,0.00,0.000000,185.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,주거지,1

In [12]:
Isolation_Forest_weight

,월,요일,시간,소관경찰서,소관지역,사건발생거리,강수량(mm),강설량(mm),적설량(cm),풍향,안개,짙은안개,번개,진눈깨비,서리,연기/연무,눈날림,범죄발생지,TARGET
35208,2,월요일,5,2440,39.0,0.574316,10.264787,19.483637,105.488933,59.837386,1.0,0.0,0.0,0.0,0.0,1.0,1.0,주거지,0
36491,11,목요일,2,2449,30.0,2.313558,48.141141,0.000000,0.000000,214.153038,0.0,0.0,0.0,0.0,0.0,0.0,0.0,차도,2
48108,6,월요일,1,1336,5.0,0.166384,128.571452,0.000000,0.000000,117.850828,0.0,0.0,0.0,0.0,0.0,0.0,0.0,편의점,1
35583,11,수요일,11,427,13.0,1.890658,10.050549,0.000000,0.000000,268.455451,1.0,0.0,0.0,0.0,0.0,1.0,0.0,차도,2
65048,8,수요일,12,829,29.0,0.466020,0.000000,0.000000,0.000000,78.785241,0.0,0.0,0.0,0.0,0.0,0.0,0.0,인도,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39711,1,금요일,2,1037,41.0,1.418477,10.607806,4.431109,21.305129,24.169684,1.0,0.0,0.0,1.0,1.0,1.0,0.0,차도,2
27764,1,화요일,4,1947,44.0,1.326059,0.000000,0.000000,9.143750,228.593752,0.0,0.0,0.0,0.0,0.0,0.0,0.0,주거지,1
61034,10,수요일,11,1029,32.0,2.283618,36.678287,0.000000,0.000000,146.713150,1.0,0.0,1.0,0.0,0.0,0.0,0.0,주거지,0
57513,6,수요일,4,1538,49.0,1.163406,0.973406,0.000000,0.000000,194.681131,0.0,0.0,0.0,0.0,0.0,0.0,0.0,차도,2
71061,1,금요일,12,1927,44.0,1.545927,26.949892,0.000000,0.000000,171.921726,1.0,0.0,0.0,0.0,0.0,0.0,0.0,주거지,1

In [13]:
# base의 인코딩 방식을 따르기 위해 각각이 훈련 데이터셋이라도 transform만 함.
IQR_delete['요일'] = ordinal_encoder.transform(IQR_delete[['요일']])
IQR_weight['요일'] = ordinal_encoder.transform(IQR_weight[['요일']])
Isolation_Forest_delete['요일'] = ordinal_encoder.transform(Isolation_Forest_delete[['요일']]) 
Isolation_Forest_weight['요일'] = ordinal_encoder.transform(Isolation_Forest_weight[['요일']])

# Binary Encoding
소관경찰서, 소관 지역, 범죄발생지 컬럼에 적용할 방식이다. 고유한 클래스가 굉장히 많으므로 효과적일 것이라 예상된다.  
예를 들어 8개의 범주가 있는 상황에서  
- 원핫 인코딩 : 8개의 컬럼 생성  
- 이진 인코딩 : $\log_28=3$ 개의 컬럼 생성

이 또한 소관경찰서와 소관지역이 이미 number로 입력되어 있기에 실제 object형인 **범죄발생지**에 대해서만 진행하면 된다.

In [14]:
# 이진 인코딩은 바로 바꾸면 오류가 남.
binary_encoder = BinaryEncoder()
base_train['범죄발생지'] = binary_encoder.fit_transform(base_train[['범죄발생지']])
validation[['범죄발생지']] = binary_encoder.transform(validation[['범죄발생지']]) # val/test는 학습된 인코더로 변환만 
test[['범죄발생지']] = binary_encoder.transform(test[['범죄발생지']])
base_train[['범죄발생지']]

ValueError: Columns must be same length as key

In [15]:
# 이런 식으로 인코딩되는 것이기 때문에 바로 대입이 안되는 것.
binary_encoder.fit_transform(base_train[['범죄발생지']]) # 다중 공선성 경우 생각해야함.

       범죄발생지_0  범죄발생지_1  범죄발생지_2  범죄발생지_3
35208        0        0        0        1
36491        0        0        1        0
48108        0        0        1        1
35583        0        0        1        0
65048        0        1        0        0
...        ...      ...      ...      ...
39711        0        0        1        0
27764        0        0        0        1
61034        0        0        0        1
57513        0        0        1        0
71061        0        0        0        1

[50643 rows x 4 columns]

In [16]:
base_train = pd.concat([base_train.iloc[:,:-1], binary_encoder.fit_transform(base_train['범죄발생지']), base_train.iloc[:,-1]], axis = 1) # TARGET을 마지막으로 하기 위해
validation = pd.concat([validation.iloc[:,:-1], binary_encoder.transform(validation['범죄발생지']), validation.iloc[:,-1]], axis = 1)
test = pd.concat([test.iloc[:,:-1], binary_encoder.transform(test['범죄발생지']), test.iloc[:,-1]], axis = 1)

base_train.drop(columns=['범죄발생지'], inplace = True)
validation.drop(columns=['범죄발생지'], inplace = True)
test.drop(columns=['범죄발생지'], inplace = True)
base_train

,월,요일,시간,소관경찰서,소관지역,사건발생거리,강수량(mm),강설량(mm),적설량(cm),풍향,...,번개,진눈깨비,서리,연기/연무,눈날림,범죄발생지_0,범죄발생지_1,범죄발생지_2,범죄발생지_3,TARGET
35208,2,3.0,5,2440,39.0,1.967578,35.166667,66.75,361.400000,205.0,...,0.0,0.0,0.0,1.0,1.0,0,0,0,1,0
36491,11,1.0,2,2449,30.0,2.862873,59.571429,0.00,0.000000,265.0,...,0.0,0.0,0.0,0.0,0.0,0,0,1,0,2
48108,6,3.0,1,1336,5.0,0.437663,338.200000,0.00,0.000000,310.0,...,0.0,0.0,0.0,0.0,0.0,0,0,1,1,1
35583,11,2.0,11,427,13.0,2.042390,10.857143,0.00,0.000000,290.0,...,0.0,0.0,0.0,1.0,0.0,0,0,1,0,2
65048,8,2.0,12,829,29.0,0.532356,0.000000,0.00,0.000000,90.0,...,0.0,0.0,0.0,0.0,0.0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39711,1,0.0,2,1037,41.0,2.640971,19.750000,8.25,39.666667,45.0,...,0.0,1.0,1.0,1.0,0.0,0,0,1,0,2
27764,1,6.0,4,1947,44.0,1.450236,0.000000,0.00,10.000000,250.0,...,0.0,0.0,0.0,0.0,0.0,0,0,0,1,1
61034,10,2.0,11,1029,32.0,2.646083,42.500000,0.00,0.000000,170.0,...,1.0,0.0,0.0,0.0,0.0,0,0,0,1,0
57513,6,2.0,4,1538,49.0,1.195191,1.000000,0.00,0.000000,200.0,...,0.0,0.0,0.0,0.0,0.0,0,0,1,0,2
71061,1,0.0,12,1927,44.0,1.663528,29.000000,0.00,0.000000,185.0,...,0.0,0.0,0.0,0.0,0.0,0,0,0,1,1

In [17]:
# 이상치 처리한 데이터셋도 적용.
# 반드시 base의 transform으로
IQR_delete = pd.concat([IQR_delete.iloc[:,:-1], binary_encoder.transform(IQR_delete['범죄발생지']), IQR_delete.iloc[:,-1]], axis = 1)
IQR_weight = pd.concat([IQR_weight.iloc[:,:-1], binary_encoder.transform(IQR_weight['범죄발생지']), IQR_weight.iloc[:,-1]], axis = 1)
Isolation_Forest_delete = pd.concat([Isolation_Forest_delete.iloc[:,:-1], binary_encoder.transform(Isolation_Forest_delete['범죄발생지']), Isolation_Forest_delete.iloc[:,-1]], axis = 1)
Isolation_Forest_weight = pd.concat([Isolation_Forest_weight.iloc[:,:-1], binary_encoder.transform(Isolation_Forest_weight['범죄발생지']), Isolation_Forest_weight.iloc[:,-1]], axis = 1)

IQR_delete.drop(columns=['범죄발생지'], inplace = True)
IQR_weight.drop(columns=['범죄발생지'], inplace = True)
Isolation_Forest_delete.drop(columns=['범죄발생지'], inplace = True)
Isolation_Forest_weight.drop(columns=['범죄발생지'], inplace = True)

In [18]:
IQR_delete.columns

Index(['월', '요일', '시간', '소관경찰서', '소관지역', '사건발생거리', '강수량(mm)', '강설량(mm)',
       '적설량(cm)', '풍향', '안개', '짙은안개', '번개', '진눈깨비', '서리', '연기/연무', '눈날림',
       '범죄발생지_0', '범죄발생지_1', '범죄발생지_2', '범죄발생지_3', 'TARGET'],
      dtype='object')

# One-Hot-Encoding
안개, 짙은안개, 번개, 진눈깨비, 서리, 연기/연무, 눈날림

⇒ Y/N이 아니라 이미 0과 1로 입력된 값이어서 그대로 사용하면 된다.

___

따라서 다음의 데이터셋을 분리하여 사용하면 된다.

In [19]:
dp(base_train, validation, test)

,월,요일,시간,소관경찰서,소관지역,사건발생거리,강수량(mm),강설량(mm),적설량(cm),풍향,...,번개,진눈깨비,서리,연기/연무,눈날림,범죄발생지_0,범죄발생지_1,범죄발생지_2,범죄발생지_3,TARGET
35208,2,3.0,5,2440,39.0,1.967578,35.166667,66.75,361.400000,205.0,...,0.0,0.0,0.0,1.0,1.0,0,0,0,1,0
36491,11,1.0,2,2449,30.0,2.862873,59.571429,0.00,0.000000,265.0,...,0.0,0.0,0.0,0.0,0.0,0,0,1,0,2
48108,6,3.0,1,1336,5.0,0.437663,338.200000,0.00,0.000000,310.0,...,0.0,0.0,0.0,0.0,0.0,0,0,1,1,1
35583,11,2.0,11,427,13.0,2.042390,10.857143,0.00,0.000000,290.0,...,0.0,0.0,0.0,1.0,0.0,0,0,1,0,2
65048,8,2.0,12,829,29.0,0.532356,0.000000,0.00,0.000000,90.0,...,0.0,0.0,0.0,0.0,0.0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39711,1,0.0,2,1037,41.0,2.640971,19.750000,8.25,39.666667,45.0,...,0.0,1.0,1.0,1.0,0.0,0,0,1,0,2
27764,1,6.0,4,1947,44.0,1.450236,0.000000,0.00,10.000000,250.0,...,0.0,0.0,0.0,0.0,0.0,0,0,0,1,1
61034,10,2.0,11,1029,32.0,2.646083,42.500000,0.00,0.000000,170.0,...,1.0,0.0,0.0,0.0,0.0,0,0,0,1,0
57513,6,2.0,4,1538,49.0,1.195191,1.000000,0.00,0.000000,200.0,...,0.0,0.0,0.0,0.0,0.0,0,0,1,0,2
71061,1,0.0,12,1927,44.0,1.663528,29.000000,0.00,0.000000,185.0,...,0.0,0.0,0.0,0.0,0.0,0,0,0,1,1

,월,요일,시간,소관경찰서,소관지역,사건발생거리,강수량(mm),강설량(mm),적설량(cm),풍향,...,번개,진눈깨비,서리,연기/연무,눈날림,범죄발생지_0,범죄발생지_1,범죄발생지_2,범죄발생지_3,TARGET
73378,3,4.0,10,750,22.0,3.711225,0.000000,0.0,0.0,30.0,...,0.0,0.0,0.0,0.0,0.0,0,0,1,0,2
71524,8,0.0,10,329,12.0,2.734892,0.000000,0.0,0.0,50.0,...,0.0,0.0,0.0,0.0,0.0,0,0,0,1,1
38781,3,0.0,4,649,10.0,1.294901,0.000000,0.0,0.0,335.0,...,0.0,0.0,0.0,0.0,0.0,0,0,0,1,0
35212,10,5.0,6,628,20.0,1.337039,0.000000,0.0,0.0,100.0,...,0.0,0.0,0.0,0.0,0.0,0,0,0,1,0
56852,8,2.0,6,1846,36.0,2.158072,415.666667,0.0,0.0,205.0,...,1.0,0.0,0.0,0.0,0.0,0,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23050,9,6.0,6,2148,38.0,2.184994,3.125000,0.0,0.0,220.0,...,1.0,0.0,0.0,0.0,0.0,1,0,0,0,0
36543,4,6.0,1,1827,51.0,2.204480,0.000000,0.0,0.0,215.0,...,0.0,0.0,0.0,0.0,0.0,0,0,1,0,0
70132,11,4.0,2,1349,36.0,1.873360,1.142857,0.0,0.0,285.0,...,0.0,0.0,0.0,0.0,0.0,0,1,0,0,0
58097,9,0.0,12,329,12.0,3.002181,19.625000,0.0,0.0,165.0,...,1.0,0.0,0.0,0.0,0.0,1,1,0,1,0
10511,10,3.0,1,48,8.0,0.969846,614.875000,0.0,0.0,30.0,...,1.0,0.0,0.0,0.0,0.0,0,0,1,0,2

,월,요일,시간,소관경찰서,소관지역,사건발생거리,강수량(mm),강설량(mm),적설량(cm),풍향,...,번개,진눈깨비,서리,연기/연무,눈날림,범죄발생지_0,범죄발생지_1,범죄발생지_2,범죄발생지_3,TARGET
12635,9,3.0,10,1050,32.0,1.254874,0.000000,0.0,0.000000,105.0,...,0.0,0.0,0.0,0.0,0.0,0,0,1,0,1
22195,5,5.0,10,1447,41.0,1.494139,5.142857,0.0,0.000000,220.0,...,0.0,0.0,0.0,0.0,0.0,0,0,1,0,1
42119,11,6.0,4,1348,6.0,2.063934,0.000000,0.0,0.000000,30.0,...,0.0,0.0,0.0,1.0,0.0,1,0,0,0,2
34954,1,2.0,1,746,21.0,1.746713,22.000000,35.0,48.333333,210.0,...,0.0,0.0,0.0,0.0,0.0,0,0,0,1,0
65122,4,3.0,2,426,13.0,2.079781,0.555556,0.0,0.000000,220.0,...,1.0,0.0,0.0,0.0,0.0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41734,11,5.0,9,936,28.0,0.650350,0.000000,0.0,0.000000,320.0,...,0.0,0.0,0.0,0.0,0.0,0,0,1,0,1
16135,6,1.0,8,1938,52.0,2.386494,24.250000,0.0,0.000000,200.0,...,1.0,0.0,0.0,0.0,0.0,0,0,1,0,1
65530,1,2.0,9,1148,29.0,0.446058,28.875000,34.0,144.000000,345.0,...,0.0,0.0,0.0,1.0,0.0,0,0,1,1,1
80594,1,5.0,6,36,46.0,2.517878,23.000000,15.8,22.666667,310.0,...,0.0,0.0,0.0,0.0,0.0,0,1,0,0,0
3430,1,3.0,11,936,28.0,0.315172,5.857143,6.6,19.000000,275.0,...,0.0,0.0,0.0,0.0,0.0,0,0,0,1,1

In [20]:
dp(IQR_delete, IQR_weight, Isolation_Forest_delete, Isolation_Forest_weight)

,월,요일,시간,소관경찰서,소관지역,사건발생거리,강수량(mm),강설량(mm),적설량(cm),풍향,...,번개,진눈깨비,서리,연기/연무,눈날림,범죄발생지_0,범죄발생지_1,범죄발생지_2,범죄발생지_3,TARGET
35583,11,2.0,11,427,13.0,2.042390,10.857143,0.0,0.0,290.0,...,0.0,0.0,0.0,1.0,0.0,0,0,1,0,2
65048,8,2.0,12,829,29.0,0.532356,0.000000,0.0,0.0,90.0,...,0.0,0.0,0.0,0.0,0.0,0,1,0,0,0
4526,5,3.0,6,1037,31.0,2.036113,0.000000,0.0,0.0,225.0,...,0.0,0.0,0.0,0.0,0.0,0,0,0,1,0
7275,5,4.0,12,538,10.0,1.222209,11.555556,0.0,0.0,85.0,...,0.0,0.0,0.0,0.0,0.0,0,0,1,0,1
61028,6,6.0,7,2337,53.0,2.202734,0.000000,0.0,0.0,110.0,...,0.0,0.0,0.0,0.0,0.0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1893,8,4.0,8,246,9.0,2.457688,3.500000,0.0,0.0,220.0,...,1.0,0.0,0.0,0.0,0.0,0,0,1,0,1
20082,4,2.0,4,237,10.0,0.564908,0.000000,0.0,0.0,285.0,...,0.0,0.0,0.0,0.0,0.0,0,0,0,1,1
61034,10,2.0,11,1029,32.0,2.646083,42.500000,0.0,0.0,170.0,...,1.0,0.0,0.0,0.0,0.0,0,0,0,1,0
57513,6,2.0,4,1538,49.0,1.195191,1.000000,0.0,0.0,200.0,...,0.0,0.0,0.0,0.0,0.0,0,0,1,0,2
71061,1,0.0,12,1927,44.0,1.663528,29.000000,0.0,0.0,185.0,...,0.0,0.0,0.0,0.0,0.0,0,0,0,1,1

,월,요일,시간,소관경찰서,소관지역,사건발생거리,강수량(mm),강설량(mm),적설량(cm),풍향,...,번개,진눈깨비,서리,연기/연무,눈날림,범죄발생지_0,범죄발생지_1,범죄발생지_2,범죄발생지_3,TARGET
35208,2,3.0,5,2440,39.0,1.967578,35.166667,0.985240,0.997241,205.0,...,0.0,0.0,0.0,1.0,1.0,0,0,0,1,0
36491,11,1.0,2,2449,30.0,2.862873,0.983491,0.000000,0.000000,265.0,...,0.0,0.0,0.0,0.0,0.0,0,0,1,0,2
48108,6,3.0,1,1336,5.0,0.437663,0.997052,0.000000,0.000000,310.0,...,0.0,0.0,0.0,0.0,0.0,0,0,1,1,1
35583,11,2.0,11,427,13.0,2.042390,10.857143,0.000000,0.000000,290.0,...,0.0,0.0,0.0,1.0,0.0,0,0,1,0,2
65048,8,2.0,12,829,29.0,0.532356,0.000000,0.000000,0.000000,90.0,...,0.0,0.0,0.0,0.0,0.0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39711,1,0.0,2,1037,41.0,2.640971,19.750000,0.891892,0.975410,45.0,...,0.0,1.0,1.0,1.0,0.0,0,0,1,0,2
27764,1,6.0,4,1947,44.0,1.450236,0.000000,0.000000,0.909091,250.0,...,0.0,0.0,0.0,0.0,0.0,0,0,0,1,1
61034,10,2.0,11,1029,32.0,2.646083,42.500000,0.000000,0.000000,170.0,...,1.0,0.0,0.0,0.0,0.0,0,0,0,1,0
57513,6,2.0,4,1538,49.0,1.195191,1.000000,0.000000,0.000000,200.0,...,0.0,0.0,0.0,0.0,0.0,0,0,1,0,2
71061,1,0.0,12,1927,44.0,1.663528,29.000000,0.000000,0.000000,185.0,...,0.0,0.0,0.0,0.0,0.0,0,0,0,1,1

,월,요일,시간,소관경찰서,소관지역,사건발생거리,강수량(mm),강설량(mm),적설량(cm),풍향,...,번개,진눈깨비,서리,연기/연무,눈날림,범죄발생지_0,범죄발생지_1,범죄발생지_2,범죄발생지_3,TARGET
36491,11,1.0,2,2449,30.0,2.862873,59.571429,0.0,0.000000,265.0,...,0.0,0.0,0.0,0.0,0.0,0,0,1,0,2
35583,11,2.0,11,427,13.0,2.042390,10.857143,0.0,0.000000,290.0,...,0.0,0.0,0.0,1.0,0.0,0,0,1,0,2
65048,8,2.0,12,829,29.0,0.532356,0.000000,0.0,0.000000,90.0,...,0.0,0.0,0.0,0.0,0.0,0,1,0,0,0
4526,5,3.0,6,1037,31.0,2.036113,0.000000,0.0,0.000000,225.0,...,0.0,0.0,0.0,0.0,0.0,0,0,0,1,0
7275,5,4.0,12,538,10.0,1.222209,11.555556,0.0,0.000000,85.0,...,0.0,0.0,0.0,0.0,0.0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48840,3,3.0,9,738,27.0,0.652146,1.000000,0.0,29.666667,350.0,...,0.0,0.0,0.0,0.0,0.0,0,0,0,1,1
27764,1,6.0,4,1947,44.0,1.450236,0.000000,0.0,10.000000,250.0,...,0.0,0.0,0.0,0.0,0.0,0,0,0,1,1
61034,10,2.0,11,1029,32.0,2.646083,42.500000,0.0,0.000000,170.0,...,1.0,0.0,0.0,0.0,0.0,0,0,0,1,0
57513,6,2.0,4,1538,49.0,1.195191,1.000000,0.0,0.000000,200.0,...,0.0,0.0,0.0,0.0,0.0,0,0,1,0,2
71061,1,0.0,12,1927,44.0,1.663528,29.000000,0.0,0.000000,185.0,...,0.0,0.0,0.0,0.0,0.0,0,0,0,1,1

,월,요일,시간,소관경찰서,소관지역,사건발생거리,강수량(mm),강설량(mm),적설량(cm),풍향,...,번개,진눈깨비,서리,연기/연무,눈날림,범죄발생지_0,범죄발생지_1,범죄발생지_2,범죄발생지_3,TARGET
35208,2,3.0,5,2440,39.0,0.574316,10.264787,19.483637,105.488933,59.837386,...,0.0,0.0,0.0,1.0,1.0,0,0,0,1,0
36491,11,1.0,2,2449,30.0,2.313558,48.141141,0.000000,0.000000,214.153038,...,0.0,0.0,0.0,0.0,0.0,0,0,1,0,2
48108,6,3.0,1,1336,5.0,0.166384,128.571452,0.000000,0.000000,117.850828,...,0.0,0.0,0.0,0.0,0.0,0,0,1,1,1
35583,11,2.0,11,427,13.0,1.890658,10.050549,0.000000,0.000000,268.455451,...,0.0,0.0,0.0,1.0,0.0,0,0,1,0,2
65048,8,2.0,12,829,29.0,0.466020,0.000000,0.000000,0.000000,78.785241,...,0.0,0.0,0.0,0.0,0.0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39711,1,0.0,2,1037,41.0,1.418477,10.607806,4.431109,21.305129,24.169684,...,0.0,1.0,1.0,1.0,0.0,0,0,1,0,2
27764,1,6.0,4,1947,44.0,1.326059,0.000000,0.000000,9.143750,228.593752,...,0.0,0.0,0.0,0.0,0.0,0,0,0,1,1
61034,10,2.0,11,1029,32.0,2.283618,36.678287,0.000000,0.000000,146.713150,...,1.0,0.0,0.0,0.0,0.0,0,0,0,1,0
57513,6,2.0,4,1538,49.0,1.163406,0.973406,0.000000,0.000000,194.681131,...,0.0,0.0,0.0,0.0,0.0,0,0,1,0,2
71061,1,0.0,12,1927,44.0,1.545927,26.949892,0.000000,0.000000,171.921726,...,0.0,0.0,0.0,0.0,0.0,0,0,0,1,1

In [22]:
# # 최종 csv
# base_train.to_csv('../data/base_train_encodeing.csv')
# validation.to_csv('../data/validation_encoding.csv')
# test.to_csv('../data/test_encoding.csv')
# IQR_delete.to_csv('../data/IQR_delete_encoding.csv')
# IQR_weight.to_csv('../data/IQR_weight_encoding.csv')
# Isolation_Forest_delete.to_csv('../data/Isolation_Forest_delete_encoding.csv')
# Isolation_Forest_weight.to_csv('../data/Isolation_Forest_weight_encoding.csv')